# -*- conf -*-
# SDX Controller settings.
SDX_HOST=localhost
SDX_PORT=8080
SDX_NAME=sdx-controller-test
HEARTBEAT_INTERVAL=30
HEARTBEAT_TOLERANCE=3

# Message queue settings for SDX Controller.
MQ_HOST=aw-sdx-monitor.renci.org
MQ_PORT=5672
MQ_USER=guest
MQ_PASS=guest

# MongoDB settings for SDX Controller.
MONGO_INITDB_ROOT_USERNAME=guest
MONGO_INITDB_ROOT_PASSWORD=guest

# To run tests locally (with tox), localhost is convenient as
# MONGO_HOST; for Docker Compose, we hard-code the container name in
# the compose file.
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=guest
MONGO_PASS=guest

# # Alternative to specifying the above variables for accessing
# # MongoDB, you can unset MONGO_HOST etc and use MONGODB_CONNSTRING
# # instead. This appears to be useful when using a MongoDB replica
# # set.  See https://github.com/atlanticwave-sdx/sdx-lc/issues/153.
# MONGODB_CONNSTRING=mongodb://guest:guest@localhost:27017/

DB_NAME=sdx-controllder-test-db
DB_CONFIG_TABLE_NAME=sdx-controller-test-table

# Elastic Search for BAPM Server.
ES_HOST=localhost
ES_PORT=9200

# Message queue settings for BAPM Server.
BAPM_MQ_HOST=amqp://guest:guest@aw-sdx-monitor.renci.org:5672/%2F
BAPM_EXCHANGE=measurement
BAPM_QUEUE=sdx_q_measurement
BAPM_ROUTING_KEY=measurement.bapm

# Save log to file
LOG_FILE=sdx-controller.log
