jsonschema==3.2.0
connexion == 2.14.1
python_dateutil == 2.8.2
setuptools >= 21.0.0
pika >= 1.2.0
dataset
networkx == 2.8.6
grenml == 0.2.1
git+https://github.com/atlanticwave-sdx/datamodel
git+https://github.com/atlanticwave-sdx/pce

# TODO: ortools should be a pce dependency, not sdx-controller
# dependency.  See https://github.com/atlanticwave-sdx/pce/issues/45
ortools == 9.4.1874
